.rain {
    background-color: $background-color;
    background-image: url('../src/img/rain.jpg');
}

.snow {
    background-color: $background-color;
    background-image: url('../src/img/snow.jpg');
}

.night {
    background-color: $night-color;
    background-image: url('../src/img/night.jpg');
}

.fog {
    background-color: $fog-color;
    background-image: url('../src/img/fog.jpg');
}

.clouds {
    background-color: $background-color;
    background-image: url('../src/img/clouds.jpg');
}
